.logfix p.logpw span { background: #fff url('${ctx}/../../../img/icon/loginpw.png') center no-repeat; }
.logfix p span { height: 38px; width: 50px; display: inline-block; border:1px solid #919191; vertical-align: middle; background: #fff url('${ctx}/../../../img/icon/loginuser.png') center no-repeat; margin-right: -6px; border-top-left-radius: 3px; border-bottom-left-radius: 3px; }
.logfix p.yzm span { background: #fff url('${ctx}/../../../img/icon/logincode.png') center no-repeat; }
.logo-icon { display: inline-block; height: 46px; width: 46px; background: url('${ctx}/../../../img/nhtop.jpg') no-repeat; vertical-align: middle; margin-right: 14px; position: relative; top: -3px; }
 body, div, p, h1, h2, h3, ul, li { margin: 0; padding: 0; }

    ul, li { list-style: none; }

    button, input { vertical-align: middle; }
    img { border:0}
    body { background-color: rgb(16, 96, 155); line-height: 30px; font-family: Arial; font-size: 12px; color: #666; min-height: 500px; }
    a { color: #4B4B4B; text-decoration: none; }
    a:hover { color: #0080C0; text-decoration: underline; }
    .hide { display: none; }

    .logfix { opacity: 0; filter: alpha(opacity=95)\8\0; *filter: alpha(opacity=95); width: 320px; padding: 20px 16px; background: #f5f5f5; position: relative; _position: absolute; margin: 0 auto; top: 12%; left:180px; border-radius: 5px; box-shadow: 0 0 8px #111; z-index: 10; }

    .logfix .logpic { text-align: center; margin-bottom: 0; }

    .logfix p { margin:6% 0px; text-align: center; }

    .logfix p.text input {font-size:16px;height: 38px;  line-height: 30px; padding: 4px 8px; color: #050505; border-radius: 3px; border:1px solid #919191; outline: none; width: 230px; }

    .logfix p.text input:hover { border-color: #1a1919; }

    .logfix p.text input:focus { border-color: #0080C0; }



    .logfix p.logaction input { height: 40px; display: block; background: #1659a8; color: #fff; font-family: 'microsoft yahei';font-size:16px; width: 296px; margin: 10px auto; border: none; border-radius: 3px; letter-spacing: 5px; text-shadow: 0 0 1px #000; line-height: 32px; cursor: pointer; }

    .logfix p.logaction input:hover { background: #0062C4; }

    .logfix p.logaction input:active { background: #005BB7; position: relative; top: 1px; cursor: pointer; }

    .logfix .worn { color: #BD0000;  font-size: 12px; margin-top: 0; }

    .header { height: 50px; background: #fff; overflow:hidden }
    .logo { float:left; margin-top:2px; margin-left:-80px; opacity:0 }
    .headr { float: right; text-align: center; margin-top:-10px;  }
    .headr a { font-size: 12px; padding: 2px 7px; }
    .layout { width: 70%; margin: 0 auto; height: 30px;line-height: 30px;}
    .footer { display:none; height: 30px; line-height: 30px; text-align: center; position: fixed; _position: absolute; width: 100%; bottom: 0; left: 0; background: #fff; }
    .content { position: absolute; _position: absolute;min-height:400px;max-height:800px;height:90%; width: 100%; top: 50px; left: 0;background: rgb(16, 96, 155)}
    .content .main {margin: 0 auto; position: relative; height: 100%; }

    /*.logfix p.yzm input{ width:100px; height:18px; line-height:18px; font-size:12px;}*/
    .logfix p.yzm input {font-size:16px;  height: 38px; line-height: 30px; padding: 4px 8px; color: #050505; border-radius: 3px; border:1px solid #919191; outline: none; width: 120px; }

    .logfix p.yzm input:hover { border-color: #1a1919; }

    .logfix p.yzm input:focus { border-color: #0080C0; }
     .logfix p.yzm img{ vertical-align:middle; margin:0 18px;}
    @media screen and (max-width:980px) {
      .layout { width: auto; margin: 0 auto; }
  .logo img{ width:100%; min-width:360px; margin-top:1%}
  }
   .new-logo { font-size: 24px; font-family: Arial; color: #10609B; height: 46px; line-height: 44px; letter-spacing: 6px; }